h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

body {
  align-items: center;
  background-color: rgb(144, 94, 224);
  background: url("/onlineclass.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
}

.dev {
  text-align: center;
  margin-top: 100px;
}
